[submodule "fortunes"]
	path = fortunes
	branch = master
	url = https://github.com/JKirchartz/fortunes.git
[submodule "vimwiki"]
	path = vimwiki
	branch = master
	url = https://gitlab.com/JKirchartz/vimwiki.git
