.netrwhist
/vim/.VimballRecord
/vim/bundle
/vim/view
/vim/spell
/vim/autoload/plug*
/vim/plugged/
/nvim/pl
/nvim/autoload/
/ssh/id_*
/ssh/known_hosts
/ssh/authorized_keys
.DS_Store
*.swp
*.dat
*id_rsa*
*id_ed25519*
known_host*
*~
