[submodule "vim/bundle/Emmet.vim"]
    path = vim/bundle/Emmet.vim
    url = http://github.com/mattn/Emmet.vim.git
[submodule "syntastic"]
    path = vim/bundle/syntastic
    url = git://github.com/scrooloose/syntastic.git
[submodule "nerdtree"]
    path = vim/bundle/nerdtree
    url = git://github.com/scrooloose/nerdtree.git
[submodule "vim-surround"]
    path = vim/bundle/vim-surround
    url = git://github.com/tpope/vim-surround.git
[submodule "vim-javascript"]
    path = vim/bundle/vim-javascript
    url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/python.vim"]
    path = vim/bundle/python.vim
    url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "vim/bundle/vim-markdown"]
    path = vim/bundle/vim-markdown
    url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/nerdcommenter"]
    path = vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/snipMate"]
    path = vim/bundle/snipMate
    url = https://github.com/vim-scripts/snipMate.git
[submodule "vim/bundle/vim-pathogen"]
    path = vim/bundle/vim-pathogen
    url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-colors-solarized"]
   path = vim/bundle/vim-colors-solarized
   url = https://github.com/altercation/vim-colors-solarized.git
