.netrwhist
/.config/vim/.VimballRecord
/.config/vim/bundle
/.config/vim/view
/.config/vim/spell
/.config/vim/autoload/plug*
/.config/vim/plugged/
/.config/nvim/pl
/.config/nvim/autoload/
/.ssh/id_*
/.ssh/known_hosts
/.ssh/authorized_keys
.DS_Store
*.swp
*.dat
*id_rsa*
*id_ed25519*
known_host*
*~
