*.dat
*.swp
*.tar.gz
*id_ed25519*
*id_rsa*
*known_host
*~
.DS_Store
.netrwhist
home/.config/nvim/autoload/
home/.config/nvim/pl
home/.config/ssh/authorized_keys
home/.config/ssh/id_*
home/.config/ssh/known_hosts
home/.config/vim/.VimballRecord
home/.config/vim/autoload/plug*
home/.config/vim/bundle
home/.config/vim/plugged/
home/.config/vim/spell
home/.config/vim/view
home/.local/bin/fzf
