<script>
  (function(){
    try{
      var jiraTicket = '<jira ticket number>';
      var activity_style = '<css for module>';
      if(typeof awo !== 'undefined'){
        awo.at.activities.push({
          "name": "<name to match target>",
          "info": {
            "desc": "<description of functionality>",
            "jira": jiraTicket
          },
          "elements": [ ]
        });

        var init = function() {
          awo.setStyles(activity_style, jiraTicket);

        };


        awo.runPoll('<class function operates on>',init);
      }
    }catch(e){
      awo.error(e);
    }
  })();
</script>
